<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config_file.xsd">
    <default>
        <ai_visibility>
            <robots>
                <enable>1</enable>
                <allow_oai_searchbot>1</allow_oai_searchbot>
                <allow_gptbot>1</allow_gptbot>
                <allow_chatgpt_user>1</allow_chatgpt_user>
                <allow_claude_searchbot>1</allow_claude_searchbot>
                <allow_claude_user>1</allow_claude_user>
                <allow_perplexitybot>1</allow_perplexitybot>
                <allow_perplexity_user>1</allow_perplexity_user>
                <allow_google_extended>1</allow_google_extended>
                <allow_anthropic_ai>1</allow_anthropic_ai>
                <allow_applebot_extended>1</allow_applebot_extended>
            </robots>
            <llms_txt>
                <enable>1</enable>
                <max_products>500</max_products>
                <max_categories>50</max_categories>
                <max_cms_pages>20</max_cms_pages>
                <include_out_of_stock>0</include_out_of_stock>
                <cron_schedule>0 2 * * *</cron_schedule>
            </llms_txt>
            <structured_data>
                <enable>1</enable>
                <enable_product>1</enable_product>
                <enable_organization>1</enable_organization>
                <enable_breadcrumb>1</enable_breadcrumb>
                <enable_reviews>1</enable_reviews>
                <return_policy_days>30</return_policy_days>
                <default_condition>https://schema.org/NewCondition</default_condition>
            </structured_data>
        </ai_visibility>
    </default>
</config>
